// Template for user administration page.
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 Users
    ol.breadcrumb
      li
        a(ui-sref='home') Home
      li
        a(ui-sref='admin') Admin
      li.active
        strong Users
  .col-lg-2
.wrapper.wrapper-content.animated.fadeIn
  .row
    .col-lg-12
      .grid(ui-grid='gridOptions', ng-style="{'height':gridHeight}", ui-grid-resize-columns, ui-grid-auto-resize, ui-grid-draggable-rows)
  br
  .row
    .col-lg-12
      button.btn.btn-primary.pull-right(ng-click='addRow()')
        i.fa.fa-user-plus
        |  Add User
