// Modal for adding form appearances to a visit. Also allows creation of a new form.
div
  .modal-header
    h3.modal-title Form Appearances
  .modal-body.row
    .col-lg-6
      h4 Select forms to add:
      ui-select(multiple, ng-model="selected.forms", theme="bootstrap")
        ui-select-match(placeholder='Select form') {{ $item.name }}
        ui-select-choices(repeat="form in forms | filter: $select.search")
          span(ng-bind="form.name")
      button.btn-block.btn-success(ng-click="addSelected()")
        i.fa.fa-plus
        |  Add to Visit
    .col-lg-6
      h4 Forms in {{ visit.name }}:
      ul.list.well(ui-sortable='sortableOptions', ng-model='appearances')
        li.sortable-item.btn-block.btn-success(ng-repeat='item in appearances')
          i.pull-left.x-space.fa.fa-times(ng-click="delete(item)")
          span.sortable-x {{ item.name }}
  .modal-footer
    button.btn.btn-primary.pull-left(ng-click="addForm()")
      i.fa.fa-check-square-o
      |  Create New Form
    button.btn.btn-success(ng-click="save()") Save
    button.btn.btn-warning(ng-click="$close()") Cancel
