// Small button with a book icon to open a modal to edit appearances for a visit or form.
.ui-grid-cell-contents
  button.btn.btn-xs.btn-success(type="button", ng-click="grid.appScope.appearance(row)")
    i.fa.fa-book
