// Custom decorator for SchemaForm that displays checkboxes inline
.form-group.schema-form-checkboxes.checkbox(sf-array='form', ng-model='$$value$$', class='{{form.htmlClass}}', ng-class="{'has-error': hasError(), 'has-success': hasSuccess()}")
  label.control-label.checkboxes-inline(ng-show='showTitle()') {{form.title}}
  br
  label.checkbox-inline(ng-repeat='val in titleMapValues track by $index')
    input(type='checkbox', ng-disabled='form.readonly', sf-changed='form', class='{{form.fieldHtmlClass}}', ng-model='titleMapValues[$index]', schema-vaidate='form', name='{{form.key.slice(-1)[0]}}')
    span.checkboxes-label(ng-bind-html='form.titleMap[$index].name')
.help-block(sf-message='form.description')
