// Wrapper
#wrapper
  // Navigation
  div(ng-include="'app/common/navigation.html'")
  // Page wrapper
  // ng-class with current state name give you the ability to extended customization your view
  #page-wrapper.gray-bg(class='{{$state.current.name}}')
    // Page wrapper
    div#topnav(ng-include="'app/common/topnavbar.html'")
    // Main view
    div#main-view(ui-view='')
    // Footer
    div(ng-include="'app/common/footer.html'")
  // End page wrapper
// End wrapper
