// Custom decorator for SchemaForm that displays a datepicker, clockpicker, or both.
.form-group(class='{{form.htmlClass}}', ng-class="{'has-error': hasError(), 'has-success': hasSuccess() && form.notEmpty()}")
  label.control-label(ng-show='showTitle()') {{form.title}}
  .row.form-row
    div.input-group(ng-show='form.date', ng-class="{'col-lg-6 modal-input-left': form.date && form.time, 'col-lg-12': form.date && !form.time }")
      span.input-group-addon(ng-if='form.fieldAddonLeft', ng-bind-html='form.fieldAddonLeft')
      input.form-control(type='text', class='{{form.fieldHtmlClass}}', manual-date, uib-datepicker-popup="{{form.format}}", is-open="form.opened", datepicker-options="dateOptions", ng-show='form.key', style='background-color: white', ng-model='form.inputDate', ng-disabled='form.readonly', name='{{form.key.slice(-1)[0]}}')
      span.input-group-btn
        button.btn.btn-default.validate-fix(ng-click='form.open()')
          i.fa.fa-calendar.validate-icon
    div.input-group.clockpicker(ng-show='form.time', ng-class="{'col-lg-6 modal-input-right': form.date && form.time, 'col-lg-12': !form.date && form.time}")
      input.form-control(type='text', ng-model='form.inputTime')
      span.input-group-addon.clock-btn.validate-fix
        i.fa.fa-clock-o.validate-icon
    // This input contains the actual value to be committed to the model, constructed from the other inputs
    // via the date-time-builder directive.
    div.input-group(ng-show='false')
      input.form-control(type='text', date-time-builder, sf-field-model, schema-validate='form')
    div(ng-if='form.time')  
      script. 
        $('.clockpicker').clockpicker({
          autoclose: true
        });
  .row
    .col-lg-6
      span.help-block(ng-show='hasError() && ngModel.$error.invalidDate') Invalid date
    .col-lg-6  
      span.help-block(ng-show='hasError() && ngModel.$error.invalidTime') Invalid time
