// Reusable modal for deleting an entry on any table.
div
  .modal-header
    h3.modal-title Delete {{ schema.title }}
  .modal-body
    .alert.alert-danger Are you sure you want to delete?
      br
      b All data from the {{ name }} {{ schema.title }} will be lost.
  .modal-footer
    button.btn.btn-danger(ng-click="delete()") Delete
    button.btn.btn-warning(ng-click="$close()") Cancel
