// Reusable modal for editing an entry on any table.
div
  .modal-header
    h3.modal-title Edit {{ schema.title }}
  .modal-body
    form(sf-schema="schema", sf-form="form", sf-model="model")
  .modal-footer
    button.btn.btn-success(ng-click="save()") Save
    button.btn.btn-warning(ng-click="$close()") Cancel
