// Small button with an arrow icon to open a subject's casebook.
.ui-grid-cell-contents
  button.btn.btn-xs.btn-success(type="button", ui-sref="test.subject({siteNum: row.entity.siteNumber, subNum: row.entity.number})")
    i.fa.fa-arrow-right
