.ibox-tools.dropdown(dropdown='')
  a(ng-click='showhide()')
    i.fa.fa-chevron-up
  a(ng-click='fullscreen()')
    i.fa.fa-expand
  a.dropdown-toggle(href='', dropdown-toggle='')
    i.fa.fa-wrench
  ul.dropdown-menu.dropdown-user
    li
      a(href='') Config option 1
    li
      a(href='') Config option 2
  a(ng-click='closebox()')
    i.fa.fa-times
