// Template for log form modal.
div
  .modal-header
    h3.modal-title {{ title }} Log
  .modal-body
    .row
      .col-lg-12
        .grid(ui-grid='gridOptions', ng-style="{'height':gridHeight}", ui-grid-resize-columns, ui-grid-auto-resize, ui-grid-draggable-rows)
  .modal-footer
    button.btn.btn-primary(ng-click='addRow()')
      i.fa.fa-plus
      |  Add Form Instance
    button.btn.btn-success(ng-click="$close()") Close
