nav.navbar-default.navbar-static-side(role='navigation')
  .sidebar-collapse
    ul#side-menu.nav.metismenu(side-navigation)
      li.nav-header
        .dropdown.profile-element(dropdown, ng-class="{open: open}")
          a.dropdown-toggle(dropdown-toggle, href)
            span.clear
              span.block.m-t-xs
                strong.font-bold {{user.name}}
              span.text-muted.text-xs.block(ng-click='openDropdown()')
                | {{user.role_name}}
                b.caret
          ul.dropdown-menu.animated.fadeIn.m-t-xs
            li
              a(ui-sref='changePass', ng-click='openDropdown()') Change Password
            li
              a(ng-click='signOut()') Logout
        img.logo-element(src="../assets/images/logo/PT2-White.png")
      li
        a
          i.fa.fa-home
          span.nav-label Home
          span.fa.arrow
        ul.nav.nav-second-level.collapse(ng-class="{in: $state.includes('*')}")
          li(ui-sref-active='active')
            a(ui-sref='home')
              i.fa.fa-globe
              | Homepage
          li(ui-sref-active='active')
            a(ui-sref='minor')
              i.fa.fa-info-circle
              | Info
          li(ui-sref-active='active')
            a(ui-sref='config')
              i.fa.fa-gear
              | Settings
      li
        a
          i.fa.fa-database
          span.nav-label Environment
          span.fa.arrow
        ul.nav.nav-second-level.collapse(ng-class="{in: !$state.includes('auth')}")
          li(ui-sref-active='active', permission, permission-only="['userAdmin','roleAdmin','siteAdmin']")
            a(ui-sref='admin') Administration
          li(ui-sref-active='active', permission, permission-only="'dev'")
            a(ui-sref='dev') Development
          li(ui-sref-active='active', permission, permission-only="'test'")
            a(ui-sref='test') Testing
          li(ui-sref-active='active', permission, permission-only="'test'")
            a(ui-sref='stage') Staging
          li(ui-sref-active='active', permission, permission-only="['dataEntry','dataReview','dataManagement','query','sign']")
            a(ui-sref='live') Production
      li(ng-show="$state.includes('admin')", ui-sref-active='active')
        a(ui-sref='admin.users', permission, permission-only="'userAdmin'")
          i.fa.fa-user
          span.nav-label Users
      li(ng-show="$state.includes('admin')", ui-sref-active='active')
        a(ui-sref='admin.roles', permission, permission-only="'roleAdmin'")
          i.fa.fa-key
          span.nav-label Roles
      li(ng-show="$state.includes('admin')", ui-sref-active='active')
        a(ui-sref='admin.sites', permission, permission-only="'siteAdmin'")
          i.fa.fa-hospital-o
          span.nav-label Sites
      li(ng-show="$state.includes('dev')", ui-sref-active='active')
        a(ui-sref='dev.visits')
          i.fa.fa-calendar
          span.nav-label Visits
      li(ng-show="$state.includes('dev')", ui-sref-active='active')
        a(ui-sref='dev.forms')
          i.fa.fa-list-alt
          span.nav-label Forms
      li(ng-show="$state.includes('dev')", ui-sref-active='active')
        a(ui-sref='dev.vars')
          i.fa.fa-check-square-o
          span.nav-label Variables
      li(ng-show="$state.includes('dev')", ui-sref-active='active')
        a(ui-sref='dev.checks')
          i.fa.fa-code
          span.nav-label Edit Checks
      li(ng-show="$state.includes('test')", ui-sref-active='active', ng-class="{active: $state.includes('test.subject')}")
        a(ui-sref='test.subjects')
          i.fa.fa-user
          span.nav-label Subjects
      li(ng-show="$state.includes('test')", ui-sref-active='active')
        a(ui-sref='test.queries')
          i.fa.fa-question-circle
          span.nav-label Queries
      li(ng-show="$state.includes('test')", ui-sref-active='active')
        a(ui-sref='test.signatures')
          i.fa.fa-pencil
          span.nav-label Signatures
      li(ng-show="$state.includes('test')", ui-sref-active='active')
        a(ui-sref='test.reports')
          i.fa.fa-clipboard
          span.nav-label Reports
