// Reusable modal for opening either a form preview or an actual casebook form.
div
  .modal-header
    h3.modal-title {{ schema.title }}
  .modal-body
    form(sf-schema="schema", sf-form="form", sf-model="model")
  .modal-footer
    button.btn.btn-success(ng-click="save()", ng-if="!preview") Save
    button.btn.btn-warning(ng-click="$close()", ng-if="!preview") Cancel
    button.btn.btn-success(ng-click="$close()", ng-if="preview") Close
