// Small button with an open icon to open a form in a subject's casebook.
.ui-grid-cell-contents(ng-if="row.treeLevel!=0")
  button.btn.btn-xs.btn-info(type="button", ng-click="grid.appScope.open(row)")
    i.fa.fa-external-link
