.row.border-bottom
  nav.navbar.navbar-static-top.white-bg(role='navigation', style='margin-bottom: 0')
    .navbar-header
      span(minimaliza-sidebar)
      form.navbar-form-custom(role='search', method='post', action='')
        .form-group
          input#top-search.form-control(type='text', placeholder='Search by subject...', name='top-search')
    ul.nav.navbar-top-links.navbar-right
      li
        a(ng-click='signOut()')
          i.fa.fa-sign-out
          |  Log out
