// Template for casebook page.
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 Subject {{ nums.siteNum }}-{{ nums.subNum }}
    ol.breadcrumb
      li
        a(ui-sref='home') Home
      li
        a(ui-sref='test') Test
      li
        a(ui-sref='test.subjects') Subjects
      li.active
        strong Subject Casebook
  .col-lg-2
.wrapper.wrapper-content.animated.fadeIn
  .row
    .col-lg-12
      .grid(ui-grid='gridOptions', ng-style="{'height':gridHeight}", ui-grid-resize-columns, ui-grid-auto-resize, ui-grid-draggable-rows, ui-grid-tree-view)
  br
  .row
    .col-lg-12
      button.btn.btn-primary.pull-right(ng-click='')
        i.fa.fa-plus
        |  Do Something
