// Login page
// Thanks to Jason Swett: https://www.airpair.com/ruby-on-rails/posts/authentication-with-angularjs-and-ruby-on-rails
.middle-box.text-center.loginscreen.animated.fadeIn
  div(style='color: whitesmoke;')
    div
      img.logo-element(src="../assets/images/logo/PT2-White.png", style='display: block;')
    h3 Welcome to PhaseTrial
    p A brand new EDC system designed with the latest web technologies to be fast, intuitive, and user-friendly.
    p Login to see it in action.
    form.m-t.white-input(ng-submit="submit()" role="form")
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input(type='email', name='email', ng-model='loginForm.email')
        label.mdl-textfield__label Email
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input(type='password', name='password', ng-model='loginForm.password')
        label.mdl-textfield__label Password
      .alert.alert-success(role='alert', ng-show='confirm') {{ confirm }}
      .alert.alert-danger(role='alert', ng-show='error') {{ error }}
      button.btn.btn-primary.block.full-width.m-b(type='submit') Login
    a.text-muted.text-center(ui-sref='forgot')
      small Forgot password?
    p.m-t
      small PhaseTrial © 2016
