// Password reset page
.middle-box.text-center.loginscreen.animated.fadeIn
  div(style='color: whitesmoke;')
    div
      img.logo-element(src="../assets/images/logo/PT2-White.png", style='display: block;')
    h3 Reset Password
    p Enter a new password.
    form.m-t.white-input(ng-submit="submit()" role="form")
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input(type='password', name='password', ng-model='resetForm.password')
        label.mdl-textfield__label New Password
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        input.mdl-textfield__input(type='password', name='password_confirmation', ng-model='resetForm.password_confirmation')
        label.mdl-textfield__label Confirm Password
      .alert.alert-success(role='alert', ng-show='success') {{ success }}
      .alert.alert-danger(role='alert', ng-show='error') {{ error }}
      button.btn.btn-primary.block.full-width.m-b(type='submit') Reset
    a.text-muted.text-center(ui-sref='login')
      small Return to login screen
    p.m-t
      small PhaseTrial © 2016
