// Modal for adding variable appearances to a form type. Also allows creation of a new variable.
div
  .modal-header
    h3.modal-title Variable Appearances
  .modal-body.row
    .col-lg-6
      h4 Select variables to add:
      ui-select(multiple, ng-model="selected.vars", theme="bootstrap")
        ui-select-match(placeholder='Select variable') {{ $item.name }}
        ui-select-choices(repeat="variable in variables | filter: $select.search")
          span(ng-bind="variable.name")
      button.btn-block.btn-success(ng-click="addSelected()")
        i.fa.fa-plus
        |  Add to Form
    .col-lg-6
      h4 Variables on {{ form.name }}:
      ul.list.well(ui-sortable='sortableOptions', ng-model='appearances')
        li.sortable-item.btn-block.btn-success(ng-repeat='item in appearances')
          i.pull-left.x-space.fa.fa-times(ng-click="delete(item)")
          span.sortable-x {{ item.name }}
  .modal-footer
    button.btn.btn-primary.pull-left(ng-click="addVar()")
      i.fa.fa-check-square-o
      |  Create New Variable
    button.btn.btn-success(ng-click="save()") Save
    button.btn.btn-warning(ng-click="$close()") Cancel
