/**************************
Inspinia Styles
**************************/

/**
 *  Do not remove this comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@navbar-inverse-link-color: #5AADBB;

/**
 *  Font-Awesome support
 *  Source: https://github.com/Swiip/generator-gulp-angular/issues/337
 */
@import "../../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../../bower_components/font-awesome/fonts";

@import '../../bower_components/bootstrap/less/bootstrap.less';
@icon-font-path: '../../bower_components/bootstrap/fonts/';

@import "../../bower_components/ui-grid-draggable-rows/less/draggable-rows";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector

@nav-profil-pattern: url("../assets/images/patterns/header-profile.png") no-repeat;

/**************************
PhaseTrial Styles
**************************/

// Centered column

.col-center {
  float: none;
  margin: 0 auto;
}

// Styles for ui-sortable list items
.sortable-item {
  border: 2px solid #444;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  cursor: move;
}

// Styles for spacing the X icon on the sortable list items
.x-space {
  margin-left: 5px;
  margin-top: 2.5px;
}

.sortable-x {
  margin-left: -1em;
}

// Styles to fix awesome-bootstrap-checkbox. https://github.com/flatlogic/awesome-bootstrap-checkbox
.checkbox > .checkboxes-inline {
  padding-left: 0 !important;
  font-weight: bold !important;
}

.checkbox.has-success > .checkboxes-inline {
  color: #1ab394 !important;
}

.checkbox-inline > .checkboxes-label {
  color: #676a6c !important;
}

.form-row {
  margin-left: 0px;
  margin-right: 0px;
}

// Fixes modal inputs on smaller screens.
@media (min-width: 768px) {
  .modal-input-left {
    float: left !important;
    padding-right: 5px !important;
  }

  .modal-input-right {
    float: left !important;
    padding-left: 5px !important;
  }
}

// Rounds the clockpicker button.
.clock-btn {
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

// Fixes to MDL inputs.
.white-input {
  input {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    font-size: 14px;
  }
  label {
    color: rgba(255, 255, 255, 0.25);
  }
  .mdl-textfield--floating-label.is-dirty label {
    color: rgba(255, 255, 255, 0.25);
  }
  .mdl-textfield--floating-label.is-focused label {
    color: whitesmoke;
  }
}

.primary-input {
  .mdl-textfield__label:after {
    background-color: #1ab394;
  }
  
  .mdl-textfield--floating-label.is-focused label {
    color: #1ab394;
  }

  .mdl-textfield--floating-label.is-dirty label {
    color: #1ab394;
  }
}
.mdl-textfield__label {
  margin-bottom: 0px;
}

// You can't tell me what to do, MDL!!
ul, ol {
  font-size: 13px;
  line-height: 1.42857143;
}

// Make datepicker and clockpicker validation prettier
.has-success .validate-fix {
  border-color: #1ab394;
  background-color: white;
  .validate-icon {
    color: #333;
  }
}

.has-error .validate-fix {
  border-color: #a94442;
  background-color: #f2dede;
  .validate-icon {
    color: #a94442;
  }
}

// Fix UI Grid menu button

.ui-grid-menu-button {
  height: 29px;
  width: 18px;
}

// Fix gap under checkboxes label

.control-label + .checkbox {
  margin-top: 0px;
}

// Center check for boolean cell

.ui-grid-cell-contents .fa-check {
  margin-left: 31px;
}

// Open profile dropdown menu

.open>.dropdown-menu {
  display: block;
}
