// Template for variables page.
#page-heading.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 Variables
    ol.breadcrumb
      li
        a(ui-sref='main.home') Home
      li
        a(ui-sref='dev') Dev
      li.active
        strong Variables
  .col-lg-2
#grid-container.wrapper.wrapper-content.animated.fadeIn
  .row
    .col-lg-12
      #grid.grid(ui-grid='gridOptions', ng-style="{'height':gridHeight}", ui-grid-resize-columns, ui-grid-auto-resize, ui-grid-draggable-rows)
  br
  .row
    .col-lg-12
      button.btn.btn-primary.pull-right(ng-click='addRow()') 
        i.fa.fa-plus
        |  Add Variable
