/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.4
 *
*/

// Google Fonts
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/open-sans-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../../assets/fonts/open-sans-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/open-sans-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/open-sans-v13-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/open-sans-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/open-sans-v13-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
  url('../../assets/fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/open-sans-v13-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
  url('../../assets/fonts/open-sans-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/open-sans-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/open-sans-v13-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/open-sans-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/open-sans-v13-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/open-sans-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('../../assets/fonts/open-sans-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../assets/fonts/open-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../assets/fonts/open-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../../assets/fonts/open-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../assets/fonts/open-sans-v13-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
// Variables, Mixins
@import "variables.less";
@import "mixins.less";

// INSPINIA Theme Elements
@import "typography.less";
@import "navigation.less";
@import "top_navigation.less";
@import "buttons.less";
@import "badgets_labels.less";
@import "elements.less";
@import "sidebar.less";
@import "base.less";
@import "pages.less";
@import "chat.less";
@import "metismenu.less";
@import "spinners.less";

// Landing page styles
@import "landing.less";

// RTL Support
@import "rtl.less";

// For demo only - config box style
@import "theme-config.less";

// INSPINIA Skins
@import "skins.less";
@import "md-skin.less";

// Media query style
@import "media.less";

// Custom style
// Your custom style to override base style
@import "custom.less";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }

  #page-wrapper {
    margin: 0;
  }
}













