doctype html
html.no-js(ng-app='phasetrial')
  head
    meta(charset='utf-8')
    title PhaseTrial
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    
    // build:css styles/app.css 
    // bower:css 
    // endbower 

    // inject:css 
    // endinject 
    // endbuild 
      
  body(ng-controller="MainCtrl")

    div(ui-view='')
      
    // build:js scripts/app.js 
    // bower:js 
    // endbower 

    // inject:js 
    // endinject 
    // inject:partials 
    // endinject 
    // endbuild 
 
