// Template for change password page.
.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 Change Account Password
    ol.breadcrumb
      li
        a(ui-sref='home') Home
      li.active
        strong Change Password
  .col-lg-2
.wrapper.wrapper-content.animated.fadeIn
  .row
    .col-lg-5.col-center
      .ibox-content.m-b-sm.border-bottom
        .text-center
          form.primary-input(ng-submit="submit()" role="form")
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input(type='password', name='current_password', ng-model='changeForm.current_password')
              label.mdl-textfield__label Current Password
            br
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input(type='password', name='password', ng-model='changeForm.password')
              label.mdl-textfield__label New Password
            br
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input(type='password', name='password_confirmation', ng-model='changeForm.password_confirmation')
              label.mdl-textfield__label Confirm New Password
            br
            .alert.alert-success(role='alert', ng-show='success') {{ success }}
            .alert.alert-danger(role='alert', ng-show='error') {{ error }}
            button.btn.btn-primary.m-b(type='submit') Submit
