.wrapper.wrapper-content.animated.fadeIn
  .row
    .col-lg-12
      .text-center.m-t-lg
        h1 Config
      ul(ng-repeat="config in configs")
        li {{ config.name }}
        li {{ config.sponsor }}
        li {{ config.phase }}
