.wrapper.wrapper-content.animated.fadeIn
  .row
    .col-lg-12
      .text-center.m-t-lg
        h1
          | Simple example of second view
        small Other information here! To be filled out later!
